#regForm {
    background-color: #ffffff;
    margin: 0px auto;
    padding: 40px;
    border-radius: 10px
}

h1 {
    text-align: center
}

.entrada {
    padding: 10px;
    width: 100%;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
    font-size: 15px;
    margin: 5px;
}

.botao {
    background-color: #1b439a;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 15px;
    float: right;
}

.all-steps {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: inline-flex;
    justify-content: center
}

.step {
    height: 40px;
    width: 40px;
    margin: 0 2px;
    background-color: #d1d1d1;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #1b439a;
}

td{
    text-align: center;
    margin: 10%;
}

div.imagem-produto{
    height: 140px;
    width: 140px;
    background-color: #1b439a;
    margin-left: auto;
    margin-right: auto;
}

.entrada-produto {
    padding: 10px;
    margin: 5px;
    width: 80%;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
}

div.itens{
    border: 3px solid #1b439a;
    border-radius: 10px;
    margin: 10px;
}

.check-produto{
    height: 20px;
    width: 20px;
}